* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}