name: Frontend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repositório
        uses: actions/checkout@v4

      - name: Instalar Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Instalar dependências
        run: npm ci

      - name: Rodar lint (se existir)
        run: npm run lint --if-present

      - name: Rodar build (Vite)
        run: npm run build

      - name: Verificar build
        run: test -d dist
